.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1,
p {
  color: cornflowerblue;
}
input {
  background-color: antiquewhite;
  margin-top: 8px;
  padding: 8px;
}
